* {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

html {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    color: $dino-clr2;
}

body {
    margin: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    display: block;
    // background-image: url('~@/assets/images/cats-pattern-background_1425-90.jpg');
    // background-size: 180px;
    // background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;;
}

h1 {
    font-size: rem(50px);
}

p {
    max-width: 48ch;
    margin: 0 0 1rem;
}
 img{ 
     width: 100%;
 }

 .fa-star{
color: #ca4c4c;
 }

 .bottom-border{
   border-bottom: 1px solid rgb(221,221,221);
   padding-bottom: 20px;
   margin-bottom: 20px;
 }

 .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ca4e4e;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: fixed;
    top:20%;
    left:50%;
    animation: spin 3s linear infinite;
    margin-top: -40px;
    margin-left: -40px;
  }

  .btn :hover{
      cursor: pointer;
    }
    
    .action-btn{
      background-color:white;
      padding:0.5em;
      border-radius: 5px;
      appearance: none;
      border:none;
      cursor: pointer;
    }
    
  .action-btn :nth-child(2){
    text-decoration: underline;
  }
  
  .link{
    text-decoration: underline;
    background-color: #fff;
    border:none;
  }
  
  .link :hover{
    background-color: rgb(221,221,221);
    cursor: pointer;
  }
  .underline{
  text-decoration: underline;
  background-color: #fff;
  border:none;
}

  .action-btn>*{
      margin:3px;
  }



  .call-to-action-btn{
    color: #f3f3f3;
    background-color: #ca4e4e;
    padding:1em;
    border-radius: 5px;
    appearance: none;
    border:none;
    cursor:pointer;
    
  }
  .add-review-btn{
    color: #ca4e4e;
    background-color:white ;
    border: 1px solid #ca4e4e;
    padding:1em;
    border-radius: 5px;
    appearance: none;
    margin-top: 15px;
    cursor:pointer;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .stay-title-primary{
      font-size: 1.625rem;
  }

  .thumb-img{
    border-radius: 50%;
    max-width: 50px;
    // margin: 10px;
}

  