.main-layout {
    display: grid;
    grid-template-columns:minmax(2rem,1fr) minmax(auto,1100px) minmax( 2rem,1fr);
    
    
//     // @include for-narrow-layout {
//     //     grid-template-columns:
//     // }

//     // @include for-normal-layout {
//     //     grid-template-columns: 
//     // }

//     // @include for-wide-layout {
//     //     grid-template-columns:      
//     // }

}

.full-height{
    min-height: 83vh;
}

.two-column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 27px;
    column-gap: 100px;
}

.two-column-grid-categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 27px;
    column-gap: 100px;
}

.card-grid {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
    // grid-gap: 
    // grid-auto-flow: dense;
    // grid-auto-rows: 300px;

    > * {
        @include aspect-ratio(1, 0.8);
        border-radius: 18px;
    }

}

.el-icon-date:before {
margin-left: -11px;
}

