.login-page {
    text-align: center;
    height: 100vh;
    padding:  4% 1% 1% 1%; 
    // background-color: red;
}
.login-signup-supperline {
    width: 50%;
    padding: 5px 3px 0 3px;
}
.login-page input {
    width: 30%;
    margin-bottom: 2%;
}
.login-page button {
    width: 30%;
}

.middle-page{
    margin: 2% 0;
}
.login-page-headlines{
    margin-bottom: 1%;
}
