.stay-details-img-carousel-container{
    display:none;
}
.stay-details-title{
    padding-top: 24px;
    
    .stay-title-secondary{
        padding-top: 10px;
        .left>*{
            outline: none;
            margin-right: 10px;
        }
        .right>*{
            margin-left: 12px;
            outline: none;
        }
    }
}
.stay-description{
    width:60%;
}
.contact-host-btn{
    cursor:pointer;
    align-items: baseline;
    color: #484848;
}
    

.description-section{
    padding-top: 20px;
    .description-txt{
        padding-bottom: 30px;
    }
}
//CMP: stay-amenities//
.amenities-grid{
    margin-top: 20px;
    width:fit-content;
    margin-bottom:20px;
}
.amenities-grid >*{
    margin-right: 30px;
    width:fit-content;
}
////////////////////////

//CMP: stay-map///////////////
.stay-google-map{
    padding:0px 0px 40px 0px;
    :first-child{
        margin-bottom:10px;
    }
}
/////////////////////////////
.el-notification{
    width: 450px !important;
}

@media (max-width :740px){
    .main-layout.layout-change{ 
            grid-template-columns: 24px auto 24px !important;
            .img-grid-wide-view{
                display:none;
        }
        .img-container{
            position: relative;

            .heart-btn{
                z-index: 10;
                position: absolute;
                top: 7px;
                right: 7px;
                width: 22px;
                height: 22px;
                cursor: pointer;
            }
        }
            
        //CMP:stay-img-gallery////////////////////////////////
        .stay-details-img-carousel-container{
            display:block;
            width: 100%;
            margin-bottom: 5px;
            height: 250px;
        }
        ///////////////////////////////////////////////////////

        .stay-title-primary{
            font-weight: 500;

        } 
        .stay-title-secondary{
            padding-top:0;
            padding-bottom: 20px;
            .right{
                display:none;
            }
            .left{
                .star-rating{
                    .star-txt>*{
                        font-size: 14px;
                    }
                }
            }
        }
        .stay-description-wrapper{
            flex-direction: column;
            h2.hosted-by{
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        .stay-description-wrapper>*{
            width:100%;
        }

        
        //CMP: stay-review (group) - has to stay here
        .two-column-grid-categories>*{
            display:grid;
            grid-template-columns:1fr 1fr;
            column-gap:0px;
        }
        /////////////////////////////////////////////
    }

    .el-notification{
        // font-size: 12px;
        max-width: 90% !important;
    }

    }
    









