
.stay-details-title{
    padding-top: 24px;
}

.stay-title-secondary{
    padding-top: 10px;
    .left>*{
       margin-right: 10px;
    }
    .right>*{
       margin-left: 12px;
    }
}

.txt-input{
    max-width:50%;
}

.review-star-input>*{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    margin-left: 50px;
    width: 550px;
}

.add-review-btn{
    width: fit-content;
}

.review-card-grid{
    margin-bottom:35px;
}
.amenities-grid{
    margin-top: 20px;
    width:fit-content;
    margin-bottom:20px;
}
.amenities-grid >*{
    margin-right: 30px;
    width:fit-content;
}
.categories{
    margin-bottom: 40px;
}
.review-section-title{
    margin-bottom: 30px;
    >*{
        font-size: 1.5em;
        font-weight:600;
    }
}

.stay-description{
    width:60%;
}

.contact-host-btn{
    cursor:pointer;
    align-items: baseline;
    color: #484848;
}

/*TRIP SETTINGS CMP*/
.trip-settings{
    width: 30%;
    position: sticky !important;
    border-radius: 12px;
    padding:24px;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 6px 16px;
    height: fit-content;
    border:1px solid rgb(221,221,221)
    
}
.price-calc{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    width:100%;
}

.service-fee{
    width:100%;
}

.total-price{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(221,221,221);
    width:100%;
}

//special-btn
.special-btn{
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;
    cursor:pointer;
    display: inline-block !important;
    margin:0;
    position: relative !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 14px;
    font-weight: 500 !important;
    border-radius: 8px;
    padding: 14px 24px !important;
    width:100%;
    color: #f3f3f3;
    border:none;
    
    
    .middle-level {
        position:absolute !important;
        width: 100% !important;
        height: 100% !important;
        mask-image: radial-gradient(center,(white,black)) !important;  
        overflow: hidden;
        
    }
    .special-btn-txt{
        display: block !important;
        position: relative !important;
        pointer-events: none !important;
    }  
    .inner-level{
        // background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
        // --mouse-x: 98.3391;
        // --mouse-y: 68.3876;
        
        background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ) !important ;
        display:block !important;
        width: 100%;
        height: 100%; 
        min-width: 200px !important;
        background-size:200% 200% !important;
        opacity:0 !important;
        transition: opacity 1.25s ease 0s !important;            
    }
    .inner-level :hover{
        opacity: 1 !important;
    }
}

.special-btn:hover{
    background:none
}



//         //end of special-btn





.price{
    font-weight: 600;
    font-size: 22px;
    margin-right:3px;
}
.value-for-money{
    width:100%;
    align-items: baseline;
    margin-bottom: 14px;
}
.setting-container>*{
    width:100%;
}
.settings{
    margin-bottom: 20px;
}
.reservation-summary{
    width:100%;
}
.date-picker{
    border-radius: 4px;
    border:1px solid rgb(221,221,221);
    margin-bottom:20px;
}
// 
.reviewer-img{
    margin-right: 10px;
    margin-bottom: 15px;
}

.two-column-grid-categories{
    margin-bottom: 50px;

}
.txt-input{
// margin-bottom: 10px;
margin-top: 5px;
margin-right: 10px;
}

//     li{
//         display: block
        
//         img{
//             object-fit:cover
//         }
//     }

    
//         > * {
//             @include aspect-ratio(1, 0.8);
//             border-radius: 18px;
//         }
// }

 .el-popper{
    width: 212px;
    position: absolute;
    top: 910px;
    left: 580px;
    transform-origin: right center;
    z-index: 2003;
    display: flex;
    flex-direction: column;
 }

.chat-container{
    margin-bottom: 10px;
}