
.user-details{
    display: grid;
    grid-template-columns:minmax(2rem,1fr) minmax(auto,300px) minmax(auto,900px) minmax( 2rem,1fr);
    padding-top: 1%;
    min-height: 82vh;
    
    .user-profile{
        position: sticky;
        top: 22.6%;
        grid-column: 2 / 3;
        // grid-row: 1 / 2;
        padding: 3%;
        border: 1px solid gray;
        border-radius: 10px;
        height: fit-content;
        text-align: center;
        
        img {
            border-radius: 50%;
            width: 100px;
        }
    }
    
    .user-back-office{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        padding-left: 2%;
    }
    .user-statistics{
        width: 40.4%;
    }    
}
@media screen and(max-width:400px){

    .user-details {
        padding: 1%;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
       
        .user-profile{
            //?? 
            display: none;
            //?? 
            position: unset;
            top: unset;
            margin: 3% 0;
            width: 60%;
            align-self: center;            
        }
       
        .el-tabs__item {
            padding: 0px 5px;
            font-size: 19px;
        }
       
        .user-back-office{
            margin: 0 4%;
        }
        
        .user-statistics{
            width: 100%;
        }    
    }
    
}

// BREAKEPOINT 1
// 980
// BREAKEPOINT 2
// 700