
.user-details{
    display: flex;
    
    .user-profile{
        text-align: center;
        padding: 3%;
        border: 1px solid gray;
        width: 30%;
        height: fit-content;
        margin: auto 0 ;
        
    }
    .user-back-office{
        width: 70%;
        padding: 3%;
    }
    
    
    // .reservation button{
    //     background-color: unset !important;
    //     border: unset !important;
    //     outline: unset !important;
    //     cursor: pointer;
    // }
    // .reject{
    //     color: red;
    //     font-weight: bolder;
    // }
    // .approve{
    //     color: green;
    //     font-weight: bolder;
    // }
}