.about-section-title{
    text-align: center;
}

.about-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.about-card-homeaway{
    display: flex;
    flex-direction: column;
}

.about-section-title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-title{
    margin-top: 10px;
    margin-bottom: 10px;
}