.wrapper {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: relative;
    padding: 40px 0px;

}

.advanced-input {
    border: none;
    outline: none;
    background-color: red;
}

.advanced-input-section {
    border: none;
    outline: none;
}

.input-section {
    border: none;
}

.advanced-search-input .advanced-input-container .advanced-input-section .advanced-input,
.advanced-search-input .advanced-input-container .advanced-input-section .label {
    border: none !important;
}

.advanced-search-input .advanced-input-container .advanced-input-section .advanced-input span,
.advanced-search-input .advanced-input-container .advanced-input-section .label span {
    top: 0;
    color: #afafaf;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.advanced-search-input .advanced-input-container .advanced-input-section .advanced-input,
.advanced-search-input .advanced-input-container .advanced-input-section .label {
    color: #afafaf;
    letter-spacing: 1px;


}

.advanced-search-input .search .options .row .option .title {
    font-style: 12px;

}

.el-date-editor .el-range-separator {
    padding: 0;
    display: none !important;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto 0;
    z-index: 1000;
    width: 300px;
    border: 1px solid lightgray;
    transition: .15s ease-in-out;

}

.search-btn-sticky {
    display: flex;
    align-items: center;
    z-index: 10000000;
    position: fixed;
    top: 50%;
    left: 36%;
    top: 0;
    transition: .15s ease-in-out;
    min-width: 350px;
    background-color: #fff;
    border-radius: 200px;
    padding: 0px, 10px, 0px, 5px;
    margin-top: 6px;
    border: 1px solid rgb(235, 229, 229);
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    color: rgb(185, 184, 184);
}

.sticy-search-icon {
    margin-inline-end: 4px;
}

.title-sticky {
    margin-inline-start: 20px;
    margin-top: 3px;
}


.el-date-editor .el-range__icon {
    margin-left: -12px;

}

.filter-container .wrapper .box .title {
    
    margin-left: 3px;
}


.secondary {
    position: fixed;
    top: 80px;
    z-index: 1000;


}

.filter-by-guest {
    border: none;
}

.guest-dd {
    width: 90px;
    height: 38px;
}



.title-location {
    line-height: 19px;
}


@media (max-width:400px) {
    .filter-container {
        // background-color: blue;
        width: fit-content;
    }

    .advanced-search-input .advanced-input-container .advanced-input-section .label {
        font-size: 1.1rem !important;
    }

    .advanced-search-input .advanced-input-container .advanced-input-section .advanced-input,
    .advanced-search-input .advanced-input-container .advanced-input-section .label {
        font-size: 27px;
    }


    .title-sticky {
        font-size: 1.5rem !important;
    }

    .filter-container .wrapper .box .title {
        font-size: 1.3rem !important;
    }

    .filter-container .wrapper .box:nth-child(2) {
        display: none;
    }

    .filter-container .wrapper .box:nth-child(3) {
        display: none;
    }

    .search-btn-sticky {
        display: none;
        // display: flex;
        align-items: center;
        z-index: 10000000;
        transition: .15s ease-in-out;
        min-width: 350px;
        background-color: #fff;
        border-radius: 200px;
        padding: 0px, 10px, 0px, 5px;
        margin-top: 6px;
        border: 1px solid rgb(235, 229, 229);
        justify-content: space-between;
        cursor: pointer;
        outline: none;
        color: rgb(185, 184, 184);
    }

    .search-btn-sticky {
        top: 10%;
        left: 3%;
    }

    .mobail-container {
        width: 100%;
        background-color: red;
    }

}

.filter-date-picker{
    margin-left: -48px !important;
}