.el-input__inner {
    border: none;

}

.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor--timerange.el-input,
.el-date-editor--timerange.el-input__inner {
    width: 150px;
}

.el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner {
border: none;
width: 200px;
    }

    .el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner {
    width: 220px;
    }

    .el-range-editor.el-input__inner{
        width: 100px;
    }

 .el-range-separator{
     display: none;
 }

.el-range-input{
    width: 100px;
    display: none;
}