.reservations-title{
    margin-bottom: 15px;
}

.host-orders{
    height: fit-content;
    border: 1px solid rgba(211, 211, 211, 0.671);
    padding: 3%;
    border-radius: 12px;
    margin-top: 2%;
    
    .host-order:last-child{
        border-bottom: none;
    }
    .host-order {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 200px;
        list-style-type: none;
        padding: 1%;
        border-bottom: 1px solid lightgray;
        
        .cell-1{
            grid-column: 1;
        }
        .cell-2{
            grid-column: 2;
        }
        .cell-3{
            grid-column: 3;
        }
        .cell-4{
            grid-column: 4;
            // background-color: yellow;
        }


        .order-buyer-mobile{
            display: none;
        }

        .order-details {
            display: grid;
            grid-template-rows: 50% 50%;
            text-align: left;
            padding: 3px;
            
            p {
                padding: 1%;
                font-size: 14px;
            }
            
            h3 {
                padding: 1%;
                width: fit-content;
                padding-bottom: 1%;
                margin-bottom: 1%;
            }
            .response-dates{
                display: none;
            }
            .br {
                display: none;
            }
        }
        
        
        button {
            outline: unset !important;
            height: fit-content;
            background-color: unset;
            cursor: pointer;
            border-radius: 10px;
            // font-size:;
            padding: 0.8em;
        border: 1px solid lightgray;
    }
        button:hover {
            background-color: rgb(218, 218, 218);
        }
        .reject {
            color: #6d696a;
            width:44%
        }
        .approve{
            color: #f86792;
            font-weight:600;
            margin-right: 6%;
            margin-left: 6%;
            width:44%
        }
        
        
    }
}


@media screen and(max-width:770px) {
    .noReserv{
        font-size: 14px;
        padding: 10px;
    }
    .host-order{
        font-size: 0.75rem;
        // grid-template-columns: 22% 21% 16% 46% !important;
        
        .br {
            display: unset !important;
        }
        
        .host-order-btns {
            justify-content: center;
            
            button {
                font-size: 0.8rem;
            }
            
        }
    }
}
@media screen and(max-width:440px) {
    .reservations-title{
        font-size: 1.6rem;
    }
    .host-orders{
        padding-bottom: 0;
        padding-top: 0;
        .host-order {
            display: flex !important;
            flex-direction: column;
        
            .order-buyer-mobile{
                // background-color: red;
                margin-bottom: 12px;
            margin-top: 12px;
            display: unset !important;
            font-size: 1.2rem;
        }
        .order-details {
            grid-template-columns: 30% 70%;
            font-size: 0.85rem;
            padding:0 !important;
            
            .order-buyer {
                display: none;
            }
            .response-dates{
                display: unset !important;
            }
            .br {
                display: none !important;
            }
        }
        
        .host-order-btns{
            display: flex;
            margin-bottom: 20px !important;
            margin-top: 20px !important;
            
            button {
                font-size: 1.2rem;
                width:120px !important;
            }
            button:hover {
                background-color: unset;
            }
        }
    }
}
}