.host-order-container{
    margin-top: 4%;
}

.reservations-title{
    margin-bottom: 15px;
}

.ssets-title{
    margin-top:25px ;
}

.host-orders{
    height: 200px;
    border: 1px solid rgba(211, 211, 211, 0.671);
    padding: 2%;
    overflow-y: auto;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 2%;
    
    
    .host-order {
        display: grid;
        grid-template-columns: 32% 28% 28% 12%;
        list-style-type: none;
        padding: 1%;
        border-bottom: 2px solid lightgray;
        
        .host-order-bio {
            display: grid;
            grid-template-rows: 50% 50%;
            text-align: left;
            padding: 3px;
            p {
                padding: 1%;
            }
            
            h3 {
                padding: 1%;
                width: fit-content;
                padding-bottom: 1%;
                margin-bottom: 1%;
            }
        }

        .host-order-btns{
            margin: auto auto;
        }

        button {
            outline: unset !important;
            height: fit-content;
            background-color: unset;
            border: unset ;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bolder;
            font-size: 1.5rem;
        }

        button:hover {
            background-color: rgb(218, 218, 218);
        }

        .reject{
            color: red;
        }

        .approve{
            color: green;
        }
    }
}