// .host-order-container{
//     margin-top: 2%;
// }

.reservations-title{
    margin-bottom: 15px;
}

.ssets-title{
    margin-top:25px ;
}

.host-orders{
    height: fit-content;
    border: 1px solid rgba(211, 211, 211, 0.671);
    padding: 2%;
    border-radius: 25px;
    margin-top: 2%;
    
    .host-order:last-child{
        border: none;
    }
    
    .host-order {
        display: grid;
        grid-template-columns: 30% 25% 20% 25%;
        list-style-type: none;
        padding: 1%;
        border-bottom: 2px solid lightgray;
        max-width: 100%;
        
        // .host-order-bio {
        //     display: grid;
        //     grid-template-rows: 50% 50%;
        //     text-align: left;
        //     padding: 3px;
        //     p {
        //         padding: 1%;
        //     }
            
        //     h3 {
        //         padding: 1%;
        //         width: fit-content;
        //         padding-bottom: 1%;
        //         margin-bottom: 1%;
        //     }
        // }

        .host-order-btns{
            margin: auto auto;
            // order:reverse;
            width: 100%;
        }
        // .slash{
        //     font-size: 2em;
        //     margin: auto 0;
        //     font-weight: 10; 
        //     }

        // button {
        //     outline: unset !important;
        //     height: fit-content;
        //     background-color: unset;
        //     border: unset ;
        //     cursor: pointer;
        //     border-radius: 5px;
        //     font-size: 1rem;
        //     padding: 0.8em;
        // }

        button:hover {
            background-color: rgb(218, 218, 218);
        }
        
        .reject {
            color: #6d696a;
        }
        
        .approve{
            color: #f86792;
            font-weight:600;
        }
    }
}

@media screen and(max-width:400px){
    .reservations-title{
        font-size: 2rem;
    }

    .NoReserv{
        font-size:20px
    }

    .host-order {
        display: flex !important;
        flex-direction: column;

        
        .host-order-bio {
            text-align: center !important;
            h3 {
                margin: 0 auto;
            }
        }
        .host-order-btns {
            button {
                font-size: 1.6rem;
            }
            
            button:hover {
                background-color: unset;
            }
        }

    }
}