

img{
    height: 100%;
}
 
.list-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-rows: 300px;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.sort-container{
    display: flex;
    margin: 10px 10px 10px 0px;
  
}
.sort-btn{
    width: 150px;
}
