// img{
//     width: 100%;
// }

.stay-details-container{
    display: grid;
    grid-template-columns:minmax(2rem,1fr) minmax(auto,1100px) minmax( 2rem,1fr);
    
}

.stay-details-img-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(60px,1fr));
    margin: 0;
    padding: 0;
    grid-gap: 15px;
    grid-auto-flow: dense;
    grid-auto-rows: 60px;

    li{
        display: block
        
        img{
            object-fit:cover
        }
    }

    
        > * {
            @include aspect-ratio(1, 0.8);
            border-radius: 18px;
        }
}