/*TRIP SETTINGS CMP*/
.night{
    font-size: 16px;
}

.trip-settings{
    width: 33.33%;
    position: sticky !important;
    top:200px;
    border-radius: 12px;
    padding:24px;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 6px 16px;
    height: fit-content;
    border:1px solid rgb(221,221,221)
    
}
.trip-settings-mobile{
    display:none;
}
.price-calc{
    margin-top: 24px;
    margin-bottom: 12px;
    // padding-top: 20px;
    width:100%;
    font-size: 16px;   
}

.link{
    color:rgb(113,113,113)
}

.service-fee{
    font-size: 16px;   
    width:100%;
}

.total-price{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(221,221,221);
    width:100%;
    font-weight: 800;
    color: #222222;
    font-size:16px;
}

//special-btn
.special-btn{
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;
    cursor:pointer;
    display: inline-block !important;
    margin:0;
    margin-bottom: 16px;
    position: relative !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 14px;
    font-weight: 500 !important;
    border-radius: 8px !important;
    padding: 14px 24px !important;
    width:100%;
    color: #f3f3f3;
    border:none;
    outline:none !important;
    
    
    .middle-level {
        top:0;
        left:0;
        position:absolute !important;
        width: 100% !important;
        height: 100% !important;
        mask-image: radial-gradient(center,(white,black)) !important;  
        overflow: hidden;
        
    }
    .special-btn-txt{
        display: block !important;
        position: relative !important;
        pointer-events: none !important;
    }  
    .inner-level{
        // background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
        // --mouse-x: 98.3391;
        // --mouse-y: 68.3876;
        // :src="require(`@/assets/imgs/icons/HomeAwaylogo.svg`)"

// background-image: url("~@/assets/imgs/icons/HomeAwaylogo.svg");
        background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ) !important ;
        display:block !important;
        width: 100%;
        height: 100%; 
        // min-width: 200px !important;
        background-size:200% 200% !important;
        // opacity:0 !important;
        transition: opacity 1.25s ease 0s !important; 
        border-radius: 8px;           
    }
    .inner-level :hover{
        opacity: 1 !important;
    }
}

.special-btn:hover{
    background:none
}
//         //end of special-btn





.price{
    font-weight: 600;
    font-size: 22px;
    margin-right:3px;
}
.value-for-money{
    width:100%;
    align-items: baseline;
    margin-bottom: 14px;
}
.setting-container>*{
    width:100%;
}

// .setting-container{
//     position:sticky;
// }
.settings{
    margin-bottom: 20px;
    min-width:100%;
}
.reservation-summary{
    width:100%;
}

//setting-table
.date-picker{
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    // border:none;
    border:1px solid rgb(221,221,221);///not good
    border-bottom: hidden;
    margin-bottom:0;
    min-width:100%;
    height: 50px;
    // display:flex;
    // vertical-align: middle;
    // align-items: center;
    // justify-content: center;
}

.el-date-editor{
    align-items: center;
    margin-left: 1px;//place at center please
    padding:0px;
    height: 100%;
    width:100%;

}
.el-range-separator{
    border-right:1px solid rgb(221,221,221);
    // font-size:0px;
    display: block !important;
    margin-right: 7px !important;

    // color:transparent;
}


.el-date-editor .el-range-separator {
    width: 9% !important;
}

.el-range-editor .el-range-input {
    padding-left: 8px;
}

.guest-picker .guests-picker-btn .el-button{
    height: 50px !important;
}


.el-date-editor .el-range-input {
width: 100% !important;
}

.el-range-editor.el-input__inner {
    padding: 0px 10px !important;
}


.el-date-editor .el-range-separator{
    display: block !important;
    border-right:1px solid rgb(221,221,221);
    height: 100%;

}


.el-range-editor.el-input__inner{
    padding:0px;
    height:100%;
}

    .guest-picker{
        // border:none;
        width:100%;//Dont change!!!!!!!!!
        
        .guests-picker-btn{
            // min-width:100%;//not responding
            // width: max-content;
            width: 100% ;
            // display:flex;
            // border:none;
            
            .el-button{
                width: 100%;
                border-radius: 8px;
                border-top-left-radius:0px;
                border-top-right-radius:0px;
                border-bottom-left-radius:8px;
                border-bottom-right-radius:8px;
                border:1px solid rgb(221,221,221);
                padding: 16px;
                
            }
        }
        
    }

        
    @media screen and (max-width:740px) {
        .trip-settings{
            display:none;
        }
        .trip-settings-mobile{
            display:flex;
            width: 100%;
            position: sticky !important;
            z-index: 50;
            bottom:0px;
            background: white;
            box-shadow:rgba(0, 0, 0, 0.12) 0px 6px 16px;
            height: fit-content;
            border:1px solid rgb(221,221,221);
            padding-top:14px;
        
        }
        .el-popper{
            &:not(.el-picker-panel.el-date-range-picker) { 
                width: 212px;
            }
            position: absolute;
            top: 910px;
            left: 580px;
            transform-origin: right center;
            z-index: 2003;
            display: flex;
            flex-direction: column;
        }


        .el-picker-panel{
            max-width:300px;
            .el-picker-panel__body-wrapper{
                max-width:300px;
                .el-picker-panel__body{
                    max-width:300px;
                }
            }
        }
        .el-date-range-picker__content{
            width: 100% !important;
            max-width: 300px !important;
        }

        .el-date-range-picker .el-picker-panel__body{
            min-width: 0px !important;
        }
        
        .setting-container>*{
            width:100%;
        }
        
        .trip-settings-mobile>*{
            width:100%;
        }
        .special-btn{
            max-width:120px;
        }
    }