.orders{
    // background-color: yellow;
    height: 200px;
    border: 1px solid rgba(211, 211, 211, 0.671);
    padding: 1%;
    overflow-y: auto;
    border-radius: 5px;
    margin-top: 2%;

    
    .order {
        display: grid;
        // TODO
        grid-template-columns: auto auto auto auto;
        list-style-type: none;
        padding: 1%;
        border-bottom: 2px solid lightgray;
        // border: 2px solid black;

        .order-bio {
            display: grid;
        }
        .order-btns{
            display: flex;
            justify-content: space-around;
        }
        button {
            background-color: unset !important;
            border: unset !important;
            // outline: unset !important;
            cursor: pointer;
            border-radius: 5px;
        }
        .reject{
            color: red;
            font-weight: bolder;
            font-size: 1.5rem;
        }
        .approve{
            font-size: 1.5rem;
            color: green;
            font-weight: bolder;
        }
    }
    h2 {
        margin: 10% auto;
        width: fit-content;
    }
}