.user-back-office{
    .user-status-btns{
        display: flex;
        flex-direction: row-reverse;
        
        button{
            outline: none !important;
            color: white;
            border-radius: 10px;
            height: 30px;
            cursor: pointer;
            background-color: #e95074;
            margin-right: 3%;
        }   
        button:hover {
            background-color: #eb738fec;
        }
    }
}