// COLOR PALETTE DINOSAUR
$dino-clr1:#064e1c;
$dino-clr2: #41c35f;
$dino-clr3:#386C5F;
$dino-clr4: #b33c6a;
$dino-clr5: #f0decb;

// COLOR PALETTE BARBIE
$barbie-clr1:#DE3956;
$barbie-clr2: #504658;
$barbie-clr3: #ffb5b5;
$barvie-clr4:#FF8B7E;
$barbie-clr5: #FF6873;
$barbie-clr6: #FF6873;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


